<% provide(:title, 'Add User') %>
<h1>Add User</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, required: true %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, required: true %>
      </div>
      <div>
      	<%= f.label :password %>
      	<%= f.password_field :password, required: true %>
      </div>
      <div>
      	<%= f.label :password_confirmation, "Confirmation" %>
      	<%= f.password_field :password_confirmation, required: true %>
      </div>
      <%= f.submit "Create User", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
