= bootstrap_form_for(@credit, :html => { :class => "form-horizontal" }) do |f|
	%fieldset
		= render 'shared/error_messages', object: f.object
		
		= f.hidden_field :type

		= f.money_field :amount, required: true

		= f.text_field :transaction_date, type: "date", required: true

		= f.text_area :description, rows: nil, cols: nil

		.form-actions<
			= f.submit "Add Credit", :class => "btn btn-large btn-primary"
