<% provide(:title, 'Add Debit') %>
<h1>Add Debit</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@debit, :html => { :class => "form-horizontal" }) do |f| %>
			
			<%= render 'shared/error_messages', object: f.object %>
			
			<div class="control-group">
				<%= f.label :cost, :class => "control-label" %>
				<div class="controls">
					<%= f.money_field :cost, required: true %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label :category_id, "Category", :class => "control-label" %>
				<div class="controls">
					<%= f.select :category_id, Category.all.collect{ |c| [c.name, c.id] }, include_blank: true %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :transaction_date, :class => "control-label" %>
				<div class="controls">
					<%= f.text_field :transaction_date, type: "date", required: true %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :description, :class => "control-label" %>
				<div class="controls">
					<%= f.text_area :description, rows: nil, cols: nil %>
				</div>
			</div>

			<div class="form-actions">
				<%= f.submit "Add Debit", :class => "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
