<%
	spent = Money.us_dollar(category.debits.sum(:amount))
	diff = category.budget - spent
%>
<tr>
	<td>
		<%= link_to category.name, category_path(category.id)  %>
		<span class="delete">
			<%= link_to "delete", 
									category, 
									method: :delete, 
									confirm: "All debits for this category will become orphans. Are you sure you want to ruin those poor debits?" %>
		</span>
	</td>
	<td>$<%= category.budget %></td>
	<td><%= spent.format %></td>
	<td><%= diff.format %></td>
</tr>
