<% provide(:title, 'Add Category') %>
<h1>Add Category</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@category) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <!-- todo: bootstrap prepend $ -->
        <%= f.label :budget %>
        <%= f.money_field :budget %>
      </div>
      <%= f.submit "Add Category", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
