<% provide(:title, 'Enter Expenses') %>

<div class="page-header">
	<h1>Feel the burn <small>then dive into the toilet</small></h1>
</div>

<section>
	<div class="row">
		<div class="span6">
			<h2>Easy Come</h2>
			<%= render 'credits/new' %>
		</div>
		<div class="span6">
			<h2>Easy Go</h2>
			<%= render 'debits/new' %>
		</div>
	</div>
</section>

<section>
	<div class="row">
		<div class="span8">
			<h2>Recent Activity</h2>
			<%= will_paginate %>
				<table class="table table-striped transactions">
					<thead>
						<tr>
							<th>Cost</th>
							<th>Category</th>
							<th>Date</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<% if @transactions.empty? %>
							<tr><td>No flushes yet. Rejoice!</td><td></td><td></td><td></td></tr>
						<% else %>
							<%= render @transactions %>
						<% end %>
					</tbody>
				</table>
			<%= will_paginate %>
		</div>
	</div>
</section>
