<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Your Finances!", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<% if signed_in? %>
						<li><%= link_to "Add Debits", new_debit_path %></li>
						<li><%= link_to "Add Categories", new_category_path %></li>
						<li><%= link_to "Add Users", new_user_path %></li>
						<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
					<% else %>
						<li><%= link_to "Sign in", signin_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>
