!!! 5
%html(lang="en")
	%head
		%meta(charset="utf-8")/
		%meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")/
		%meta(http-equiv="imagetoolbar" content="false")/
		/ todo: search engine optimization
		/ todo: facebook og data
		/ todo: pingback
		= csrf_meta_tags
		%title= full_title(yield(:title))
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		/[if lt IE 9]
			%script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
	%body
		.container
			= render 'layouts/header'
			- flash.each do |key, value|
				= content_tag(:div, value, class: "alert alert-#{key}")
			%div(role="main")
				= yield
			= debug(params) if Rails.env.development?
